/* ================================= 
  Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font: 1em/1.5 'Roboto', sans-serif;
  color: #4c4c4c;
  background: #f6f7f7;
  margin: 0;
}

.layout_position {
padding: 20px !important;
 background: #e0e1e2;
}

.input_class {
  width: 100%;
}

.button_class {
  border: 1px solid #c1c5ba !important;
  color: #9c3333 !important;
}

.layout_position_result {
  padding: 20px !important;
}

.layout_position_row {
  margin: 0px !important;
  padding: 0px !important;
}

.layout_position_column {
 padding: 0px !important;
}

.listContent {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 34px;
  padding-right: 34px;
}

.no-repos  {
  color: black;
  height: 140px;
  padding-top: 62px;
  text-align: center;
  font-size: 1.25em;
}